# Files we only want for local development purposes.
# Ignore these so that GitHub Pages will use it's own environment.
_site/

Gemfile
Gemfile.lock

.jekyll-cache/
.sass-cache
.jekyll-metadata

node_modules/
llm/

# Deliberately include vscode config
!.vscode/

# Ah macOS...
.DS_Store
