---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Andrew Tennikoff">
  <main>
    <h1><span class="text-gradient">Andrew Tennikoff</span></h1>

    <figure class="profile-pic">
      <img
        srcset="
          https://www.gravatar.com/avatar/78d24ebb9b46ffb2d81b41cfe88d4d68.jpeg?s=400 400w,
          https://www.gravatar.com/avatar/78d24ebb9b46ffb2d81b41cfe88d4d68.jpeg?s=800 800w,
          https://www.gravatar.com/avatar/78d24ebb9b46ffb2d81b41cfe88d4d68.jpeg?s=1200 1200w"
        sizes="
          (min-width: 750px) 650px
          290px"
        src="https://www.gravatar.com/avatar/78d24ebb9b46ffb2d81b41cfe88d4d68.jpeg?s=400"
        alt="Andrew's profile photo"
      />
    </figure>
  </main>

  <style>
    main {
      /* Simple single page layout for the moment */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: var(--page-padding);

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 1rem;
      text-align: center;
      order: 10;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }

    .profile-pic {
      --border-radius: 50%;
      --width: 70vw;

      margin: 0;
      position: relative;
      width: var(--width);
      height: var(--width);
      border-radius: var(--border-radius);
      box-shadow: 0 0 15vw 1vw rebeccapurple;

      /* Placeholder "image" while jpeg loads on slow connections */
      background-image: linear-gradient(115deg, darkred -100%, transparent),
        radial-gradient(ellipse at 60% 55%, pink, transparent 70%),
        linear-gradient(rebeccapurple, rebeccapurple);
    }
    .profile-pic > img {
      width: 100%;
      border-radius: inherit;
    }
    .profile-pic::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: inherit;
      box-shadow: 0 0 15vw 2vw darkred;
      z-index: -1;

      animation: pulse-1 20s -15s ease-in-out infinite alternate;
      transform-origin: center;
    }
    .profile-pic::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: inherit;
      box-shadow: 0 0 7vw 2vw pink;
      z-index: -2;

      animation: pulse-2 12s -3s ease-in-out infinite alternate;
      transform-origin: center;
    }

    @keyframes pulse-1 {
      from {
        transform: rotate(30deg) scale(1, 0.75);
      }

      to {
        transform: rotate(310deg) scale(0.9, 0.6);
      }
    }

    @keyframes pulse-2 {
      from {
        transform: rotate(105deg) scale(0.9, 0.6);
      }

      to {
        transform: rotate(420deg) scale(1, 0.7);
      }
    }

    /* Desktop */
    @media (min-width: 750px) {
      .profile-pic {
        --width: 50vw;
      }
      main {
        gap: 2.5rem;
      }
    }
  </style>
</Layout>
