/* Home page displays post listings... */
@import url("/assets/css/layouts/post.css");
/* @import url('/assets/css/layouts/page.css'); */

/* Home page specific styles */
.post-link span {
  display: inline-block;
  padding: 0 0.4em;
  margin-inline-end: 0.4em;

  font-family: monospace;
  font-variant: all-small-caps;
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  padding-block-end: 3px;
  translate: 0 -3px;

  border-radius: 5px;
  border-end-start-radius: 0;
  background-color: color-mix(in srgb, var(--brand-color), transparent 25%);
  color: var(--background-color);
}

/* Highlight "posts" in the home page feed */
.post-list .posts {
  margin-block: calc(var(--spacing-unit) * 2);
  padding: 1em;

  background-color: color-mix(in srgb, var(--grey-neutral), transparent 90%);
  border: 1px solid var(--grey-muted);
  border-radius: 5px;
}
