---
const { footerHeight, headerHeight } = Astro.props;
---

<table>
  <thead><tr><td></td></tr></thead>
  <tbody>
    <tr>
      <td>
        <slot />
      </td>
    </tr>
  </tbody>
  <tfoot><tr><td></td></tr></tfoot>
</table>

{
  /*
  NOTE: Default print styles.
  Screen styles are applied as overrides at the bottom
*/
}
<style define:vars={{ footerHeight, headerHeight }}>
  /* Override default styles for site */
  :root {
    --padding-page: 1.75cm;
    --color-bg: white;
    --color-text: #333;
    --color-hr: #ccc;
    --color-hr-light: #eee;
    --border-image-breaker-light: linear-gradient(
        to right,
        var(--color-hr) 9%,
        transparent 9%
      )
      1;
    --profile-pic-serious: url(https://www.gravatar.com/avatar/78d24ebb9b46ffb2d81b41cfe88d4d68.jpeg?s=800);
    --profile-pic-happy: url(https://secure.gravatar.com/userimage/3869745/e405144aa8270af72bb41c93b7152e93?size=766);
  }

  @page {
    margin: 0cm;
  }

  table {
    --base-font-size: 12pt;

    line-height: 1.5;
    font-size: var(--base-font-size);
  }
  thead {
    height: var(--headerHeight, 0);
  }
  tfoot {
    height: var(--footerHeight, 0);
  }

  /* Hacky way to style MDX footnotes from ./index.mdx file... */
  table :global(.footnotes::before) {
    content: "";
    text-align: center;
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--color-hr);
    margin-top: 5rem;
  }
  table :global(.footnotes) {
    font-size: 0.8em;
  }
  table :global(.footnotes h2) {
    padding-top: 1em;
  }

  /* FRONT PAGE */
  /* ========== */

  /* Front page layout */
  tbody :global(section.front-page) {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4rem;
    break-after: page;
    font-size: 1.15em;
  }

  /* Front page heading */
  tbody :global(h1) {
    font-size: 2.75em;
    line-height: 1.4;
    max-width: 80%;
    margin: 0;
    color: rgb(var(--color-accent));
    font-weight: 900;
    position: relative;
  }
  tbody :global(h1::after) {
    content: "";
    display: block;
    position: absolute;
    width: 2.5em;
    aspect-ratio: 1;
    top: 0.2em;
    right: -2.9em;
    background-image: var(--profile-pic-happy);
    background-size: cover;
    background-color: rgb(var(--color-accent));
    border-radius: 50%;
    box-shadow: 0 0 0 0.075em white, 0 0 0 0.15em rgb(var(--color-accent));

    border: ;
    /* filter: grayscale(); */
  }

  /* Front page elevator pitch */
  tbody :global(h1 + p) {
    padding-inline-start: 1em;
    border-inline-start: 4px solid rgb(var(--color-accent));
  }

  /* Front page list items */
  tbody :global(.front-page ul) {
    margin: 0;
  }
  tbody :global(.front-page > ul) {
    padding-inline-start: 2.5em;
  }
  tbody :global(.front-page ul p) {
    margin: 0;
  }
  tbody :global(li) {
    font-weight: normal;
    padding: 0.1em 0;
  }
  tbody :global(li[data-type]) {
    list-style: none;
    font-weight: bold;
    font-size: 0.85em;
  }
  tbody :global(li[data-type]::before) {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    transform: translateX(-1.5em) translateY(0.25em);

    background-position: center;
    background-size: cover;
  }
  tbody :global(li[data-type="email"]::before) {
    background-image: url("/icons/envelope.svg");
  }
  tbody :global(li[data-type="phone"]::before) {
    background-image: url("/icons/mobile-button.svg");
  }
  tbody :global(li[data-type="linkedin"]::before) {
    background-image: url("/icons/linkedin.svg");
  }
  tbody :global(li[data-type="github"]::before) {
    background-image: url("/icons/github.svg");
  }
  tbody :global(li[data-type="cv"]::before) {
    background-image: url("/icons/document.svg");
  }
  tbody :global(li[data-type="pronunciation"]::before) {
    background-image: url("/icons/info.svg");
  }
  tbody :global(li[data-type="pronunciation"]) {
    font-weight: normal;
    font-style: italic;
    margin-top: 0.75em;
    padding-top: 0.75em;
    opacity: 0.7;

    border-top: 2px solid;
    border-image: var(--border-image-breaker-light);
  }
  tbody :global(li[data-type="pronunciation"] a) {
    text-decoration: underline;
    text-decoration-color: rgb(var(--color-accent));
  }

  /* Front page time stamp */
  tbody :global(time) {
    font-weight: bold;
    font-size: 1.2em;
  }

  /* PROFESSIONAL STATEMENT */
  tbody :global([id="professional-statement"] + p em) {
    border-bottom: 3px dotted rgb(var(--color-accent));
  }

  /* UTILITIES */
  /* ========= */

  /* Make all "sub-heading" li's that are under h3's look like headings */
  tbody :global(h3 + :where(ul, ol) > li p:has(strong)) {
    /* background: rgba(var(--color-accent), 7%); */
    background: hsl(0, 0%, 96%);
    padding: 0.25em 0.5em;
    border-radius: 0.1em;
    break-after: avoid-page;
  }
  /* For any ul/ol,
   * ...that has a child li without a nested ul,
   * ...remove the bottom margin of the last p to avoid margin stacking.
   */
  tbody :global(:where(ul, ol) > li:not(:has(ul)) p:last-child) {
    margin-bottom: 0;
  }

  tbody :global(a) {
    text-decoration: none;
    color: var(--color-text);
  }
  tbody :global(h2) {
    color: rgb(var(--color-accent));
    margin-top: 2em;
    margin-bottom: 0.5em;
    break-after: avoid-page;
  }
  /* Remove margin when at top of new page */
  tbody :global(h2:nth-of-type(1)) {
    margin-top: 0;
  }
  tbody :global(h2 + h3) {
    margin-top: 0;
  }
  tbody :global(h3) {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
    border-bottom: 1px solid var(--color-hr-light);
    break-after: avoid-page;
  }
  tbody :global(ul) {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* Overrides for screens (non-print styles) */
  @media screen {
    :root {
      --padding-page: 1rem;
    }

    table {
      --base-font-size: 1rem;
    }

    thead {
      height: 0;
    }

    tbody :global(a) {
      text-decoration: revert;
      /* text-decoration-color: 1px solid red !important; */
      color: rgb(var(--color-accent));
    }

    /* Front page layout */
    tbody :global(section.front-page) {
      display: block;
      height: revert;
      /* font-size: 1rem; */
      padding-bottom: 2em;
      margin-bottom: 2em;
      border-bottom: 1px solid var(--color-hr);
    }
    tbody :global(section.front-page > *) {
      margin-bottom: 2rem;
    }
    tbody :global(h1::after) {
      visibility: hidden;
    }
  }
</style>

<script>
  /**
   * Move MDX generated footnotes inside the <table> so that the printed page
   * footer doesn't get covered when the last page has long content.
   */
  const footnoteElm = document.querySelector("[data-footnotes]") as HTMLElement;
  const tdElm = document.querySelector(
    "td:has([class='front-page'])"
  ) as HTMLTableCellElement;

  if (footnoteElm && tdElm) {
    tdElm.appendChild(footnoteElm);
  }
</script>
