---
layout: default
---
<article>
  <div>
    {{ content }}

    {% if page.source and page.link %}
      <p class="quote-source">—{{ page.source }} (<a href="{{ page.link }}">link</a>)</p>
    {% elsif page.source %}
      <p class="quote-source">—{{ page.source }}</p>
    {% elsif page.link %}
      <p class="quote-source">—<a href="{{ page.link }}">Source…</a></p>
    {% endif %}
  </div>

  <ul>
    {% for tag in page.tags %}
      <li>
        <code>
          <a href="/tags#tag-{{ tag | slugify }}">{{ tag }}</a>
        </code>
      </li>
    {% endfor %}
  </ul>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ page.title | escape }}",
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | absolute_url }}"
      },
      "url": "{{ page.url | absolute_url }}",
      "author": {
        "@type": "Person",
        "name": "{{ page.author | default: site.author }}"
      },
      {% if page.description %}
        "description": "{{ page.description | escape }}",
      {% endif %}

      {% if page.image %}
        "image": "{{ page.image | absolute_url }}",
      {% endif %}

      "articleBody": {{ content | strip_html | jsonify }}
    }
  </script>
</article>
