---
export interface Props {
  title: string;
}

const { title: propsTitle, frontmatter } = Astro.props;

// Use Markdown title (via `frontmatter`), otherwise fallback to props title
const title = frontmatter?.title ?? propsTitle ?? "";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --page-padding: 3vmin;
    --bg-color: hsl(230deg, 100%, 5%);
    --text-color: hsl(230deg, 100%, 70%);
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: var(--page-padding);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
